@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  background: #171717; /* neutral-900 */
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: #d946ef;
  opacity: 0.2;
  filter: blur(100px);
  pointer-events: none;
  z-index: -1;
}